.register-content {
  .container {
    form {
      margin: 0 auto;
      .form-group {
        display: flex;
        align-items: center;
        input {
          border: none;
          border-radius: 0;
          border-bottom: 2px solid #ae18e2;
          font-weight: 400;
          font-size: 30px;
          line-height: 36px;
          margin: 4px 0;
        }
        input[type="radio"] {
          display: inline;
          border: 1px solid #ccc;
          border-radius: 20px;

          &:checked {
            background-color: #ae18e2;
          }
        }
        .icon-check.checked {
          color: green;
          font-size: 20px;
          display: none;
        }
        .form-check {
          margin-top: 1%;
          margin-right: 2%;
        }
        .form-check-label {
          font-weight: 400;
          font-size: 30px;
          line-height: 36px;
        }
        h5 {
          margin-top: 2%;
          margin-right: 3%;
        }
      }
      button[type="submit"] {
        border-radius: 0 !important;
        background-color: #ae18e2 !important;
        border: none;
        padding: 4px 30px;
        display: block;
        margin-left: 51%;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
      }
    }
  }
}
