// Font size
$fs-1: 16px;
$fs-2: 20px;
$fs-2-1:24px;
$fs-3: 30px;
$fs-4: 40px;

// Color
$color-white:#fff;
$color-black:#000;
$color-gray:#CBC9C9;

// font weight
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;

// bg-color
$bg-light: #F8F8F8;
$bg-primary: #E1B067;
$bg-secondary: #DEDDDC;
$bg-white:#fff;
$bg-dark:#000;
$bg-menu:#F5F5F5;
